body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #090D11;
    color:white;
    font-family: sans-serif;
}

canvas {
    position: absolute;
    overflow: hidden;
    
}

#main-header{
    text-align:center;
}

#mid-section{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 50px;
}

#video-display{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#suggest-btn button{
    font-size:15px;
    border:none;
    padding:8px;
}

#dropdown-content{
    display:none;
    margin-top:20px;
}

#recommends{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:540px;
}

#recommended-movie{
    display: flex;
}
#movie-image img{
    width:150px;
    margin-right:15px;
}
#movie-desc-container{
    
}
#movie-desc-container p{
    padding:0px;
    margin: 0px;
    margin-bottom: 10px;
}
#movie-desc-head{
    font-size: 18px; 
    font-weight: bold;

}